*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.container{
    margin: auto;
    max-width: 300px;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 43px 30px 44px -36px rgba(87,84,87,1);
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn{
    padding: 15px;
    border-radius: 15px;
    background-color: rgb(178, 255, 127);
    border: none;
    font-size: 15px;
}

.text{
    font-weight: bold;
}